In [1]:
%cd ../

/home/users/dmoreno2016/VisionTransformers

In [17]:
import pandas as pd
import glob

In [3]:
colors= {
    0: '#00FF70',
    1: '#70FF00',
    2: '#FF0070',
    3: '#FF7000',
    4: '#0070FF',
    5: '#7000FF'
    }

In [18]:
dict_mapping_real_classes = {
6: 'Single u-lens',
15: 'TDE',
16: 'Eclip. Binary',
42: 'SNII',
52: 'SNIax',
53: 'Mira',
62: 'SNIbc',
64: 'Kilonova',
65: 'M-dwarf',
67: 'SNIa-91bg',
88: 'AGN',
90: 'SNIa',
92: 'RR lyrae',
95: 'SLSN-I',
#991: Others,
#992: Others,
#993: Others,
#994: Others, # Si lo considero, manualmente deberia cambiarlo en get_plasticc
}

In [20]:
path_data = 'data/lightcurves/plasticc/augmented_data/oversampling_10000_class'
snid_name = 'object_id'
target_name = 'target'
fold = 0

dict_mapping_classes= {
'RR lyrae': 0,
'AGN': 1,
'SNII': 2,
'SNIa': 3,
'M-dwarf': 4,
'Eclip. Binary': 5,
'SNIa-91bg': 6,
'SLSN-I': 7,
'SNIbc': 8,
'TDE': 9,
'SNIax': 10,
'Single u-lens': 11,
'Kilonova': 12,
'Mira': 13,
}


df_aug = []
df_obj_label_aux = []
for i, path in enumerate(glob.glob(f'{path_data}/fold_{fold}/*')):
    class_name = path.split('/')[-1].split('_')[0]
    print(class_name)
    df = pd.read_parquet(path)
    df_aug.append(df)
    unique_objs = df[snid_name].unique()
    df_obj_label_aux.append(pd.DataFrame({
        snid_name: unique_objs,
        target_name: [class_name] * len(unique_objs),
        'label_int': [dict_mapping_classes[class_name]] * len(unique_objs),
    }))

df_aug = pd.concat(df_aug)
df_obj_label_aux = pd.concat(df_obj_label_aux)

AGN
Eclip. Binary
SNIbc
SNIax
Kilonova
M-dwarf
SNIa-91bg
SNII
RR lyrae
SNIa
Single u-lens
Mira
SLSN-I
TDE

In [21]:
df_aug

             object_id         mjd  passband       flux   flux_err  detected
0                713_0  59825.2600         2   8.852702   1.013889         0
1                713_0  59825.2676         1   5.957424   1.160329         1
2                713_0  59825.2752         3   5.353736   1.932316         1
3                713_0  59825.2862         4   3.872437   3.018003         0
4                713_0  59825.2971         5  29.223808   7.163382         0
...                ...         ...       ...        ...        ...       ...
1244867  26400170_9603  60590.9951         4   3.621613   9.837766         0
1244868  26400170_9603  60599.0314         5  -3.133537  23.550060         0
1244869  26400170_9603  60611.0512         1   6.683933   1.589092         0
1244870  26400170_9603  60616.0201         4   1.500834  11.517282         0
1244871  26400170_9603  60627.0116         5  40.452000  53.275181         0

[22945085 rows x 6 columns]

In [22]:
df.object_id.nunique()

9604

In [23]:
df_obj_label_aux

           object_id target  label_int
0              713_0    AGN          1
1             3489_1    AGN          1
2             4088_2    AGN          1
3             7315_3    AGN          1
4             7409_4    AGN          1
...              ...    ...        ...
9599   35973028_9599    TDE          9
9600  120060791_9600    TDE          9
9601   61612630_9601    TDE          9
9602    9310078_9602    TDE          9
9603   26400170_9603    TDE          9

[133722 rows x 3 columns]

In [24]:
path_data = 'data/lightcurves/plasticc/raw'
snid_name = 'object_id'
target_name = 'target'

df_metadata_training = pd.read_csv(f'{path_data}/training_set_metadata.csv')
df_obj_label = df_metadata_training.copy()[[snid_name, target_name]]
df_metadata_training = df_metadata_training.drop([target_name], axis=1).set_index(snid_name)
df_obj_label[target_name] = df_obj_label[target_name].replace(dict_mapping_real_classes)
df_obj_label['label_int'] = df_obj_label[target_name].map(dict_mapping_classes)
df_obj_label

      object_id         target  label_int
0           615       RR lyrae          0
1           713            AGN          1
2           730           SNII          2
3           745           SNIa          3
4          1124           SNIa          3
...         ...            ...        ...
7843  130739978        M-dwarf          4
7844  130755807           SNIa          3
7845  130762946  Eclip. Binary          5
7846  130772921        M-dwarf          4
7847  130779836  Single u-lens         11

[7848 rows x 3 columns]

In [25]:
path_partition = 'data/lightcurves/plasticc/partitions'
df_partitions = pd.read_parquet(f'{path_partition}/train_val/stratified_5fold_splits.parquet')
ids_partition = df_partitions[df_partitions['subset'] == f'train_{fold}'][snid_name].values
df_obj_label = df_obj_label[df_obj_label[snid_name].isin(ids_partition)]
df_obj_label

      object_id         target  label_int
1           713            AGN          1
4          1124           SNIa          3
5          1227        M-dwarf          4
6          1598           SNIa          3
7          1632           SNII          2
...         ...            ...        ...
7841  130716752  Eclip. Binary          5
7843  130739978        M-dwarf          4
7844  130755807           SNIa          3
7845  130762946  Eclip. Binary          5
7847  130779836  Single u-lens         11

[6278 rows x 3 columns]

In [26]:
pd.concat([df_obj_label_aux, df_obj_label]).groupby('target').count()['object_id']

target
AGN              10000
Eclip. Binary    10000
Kilonova         10000
M-dwarf          10000
Mira             10000
RR lyrae         10000
SLSN-I           10000
SNII             10000
SNIa             10000
SNIa-91bg        10000
SNIax            10000
SNIbc            10000
Single u-lens    10000
TDE              10000
Name: object_id, dtype: int64

In [27]:
df_lc = pd.read_csv(f'{path_data}/training_set.csv')
df_lc

         object_id         mjd  passband        flux   flux_err  detected
0              615  59750.4229         2 -544.810303   3.622952         1
1              615  59750.4306         1 -816.434326   5.553370         1
2              615  59750.4383         3 -471.385529   3.801213         1
3              615  59750.4450         4 -388.984985  11.395031         1
4              615  59752.4070         2 -681.858887   4.041204         1
...            ...         ...       ...         ...        ...       ...
1421700  130779836  60555.9838         4  -39.881969  46.477093         0
1421701  130779836  60560.0459         1   14.894439  18.947685         0
1421702  130779836  60571.0225         5   30.593130  50.695290         0
1421703  130779836  60585.9974         4  -23.471439  44.819859         0
1421704  130779836  60588.0372         0  -41.214264  51.665123         0

[1421705 rows x 6 columns]

In [110]:
df_lc.flux.max()

2432808.75

In [108]:
df_lc[df_lc.object_id == 56949500]

         object_id         mjd  passband         flux   flux_err  detected
1005193   56949500  59583.2996         0  -375.556885  28.511673         1
1005194   56949500  59583.3547         4 -1587.850098  30.664392         1
1005195   56949500  59589.0603         5 -1443.190552  42.813660         1
1005196   56949500  59590.3313         3  3374.122803  47.980717         1
1005197   56949500  59593.0513         4 -1379.019531  22.650082         1
...            ...         ...       ...          ...        ...       ...
1005329   56949500  60658.1807         4 -1789.058350  25.261791         1
1005330   56949500  60665.1383         3  3447.164795  44.441593         1
1005331   56949500  60666.1067         1 -2714.734619  62.800926         1
1005332   56949500  60667.1600         1 -2641.711670  60.541199         1
1005333   56949500  60671.1202         0  -298.113617  29.584745         1

[141 rows x 6 columns]

In [27]:
df_obj_label.groupby('target').count()['object_id']

target
6      151
15     495
16     924
42    1193
52     183
53      30
62     484
64     102
65     981
67     208
88     370
90    2313
92     239
95     175
Name: object_id, dtype: int64

In [28]:
path_partition = 'data/lightcurves/plasticc/partitions'
df_partitions = pd.read_parquet(f'{path_partition}/train_val/stratified_5fold_splits.parquet')
df_partitions

       object_id         target   subset
0            615       RR lyrae    val_0
1            730           SNII    val_0
2            745           SNIa    val_0
3           1920           SNIa    val_0
4           2330           SNIa    val_0
...          ...            ...      ...
39235  130716752  Eclip. Binary  train_4
39236  130727624        M-dwarf  train_4
39237  130755807           SNIa  train_4
39238  130772921        M-dwarf  train_4
39239  130779836  Single u-lens  train_4

[39240 rows x 3 columns]

In [29]:
df_train_0 = df_partitions[df_partitions.subset == 'train_0']
df_train_0

      object_id         target   subset
1570        713            AGN  train_0
1571       1124           SNIa  train_0
1572       1227        M-dwarf  train_0
1573       1598           SNIa  train_0
1574       1632           SNII  train_0
...         ...            ...      ...
7843  130716752  Eclip. Binary  train_0
7844  130739978        M-dwarf  train_0
7845  130755807           SNIa  train_0
7846  130762946  Eclip. Binary  train_0
7847  130779836  Single u-lens  train_0

[6278 rows x 3 columns]

In [76]:
object_ids = list(df_train_0[df_train_0.target == 'SNII'].object_id.values)
object_ids

[1632,
 2103,
 2300,
 3285,
 4132,
 4220,
 5527,
 7033,
 10798,
 11359,
 25783,
 29252,
 29668,
 31824,
 32309,
 33191,
 34166,
 35197,
 35743,
 36085,
 38205,
 40290,
 41738,
 42224,
 43028,
 45319,
 45549,
 48260,
 48473,
 52425,
 54416,
 55033,
 55060,
 58174,
 59068,
 59463,
 63860,
 64896,
 66126,
 66852,
 67245,
 67898,
 68835,
 69490,
 70135,
 70430,
 71084,
 73509,
 75598,
 77623,
 77825,
 79155,
 79921,
 80780,
 81000,
 81464,
 86456,
 93509,
 95690,
 96284,
 98570,
 99050,
 99862,
 100097,
 100331,
 102036,
 102864,
 103026,
 103967,
 104526,
 107615,
 108487,
 109860,
 110241,
 111281,
 111799,
 113206,
 114341,
 115053,
 119383,
 120356,
 121224,
 121266,
 121705,
 125743,
 127056,
 128488,
 129490,
 130220,
 130404,
 131075,
 135097,
 136407,
 137645,
 138010,
 138068,
 138947,
 141302,
 142866,
 142867,
 143066,
 145926,
 148535,
 149478,
 150561,
 150880,
 151427,
 152300,
 154053,
 155778,
 157120,
 157299,
 158515,
 162139,
 163208,
 165821,
 166186,
 167310,
 170135,
 172861,
 177297,
 177808,
 178529,
 179813,
 180090,
 180288,
 181956,
 183842,
 184530,
 184736,
 187545,
 190784,
 191667,
 193431,
 194500,
 197776,
 198434,
 199801,
 200061,
 201776,
 202856,
 203758,
 203802,
 206162,
 207283,
 207496,
 208610,
 211202,
 211382,
 212064,
 213161,
 215370,
 217593,
 219820,
 222108,
 224100,
 225773,
 225829,
 228629,
 230248,
 230922,
 232276,
 232628,
 233042,
 236095,
 236222,
 237600,
 238195,
 238279,
 240336,
 243928,
 247729,
 247781,
 248938,
 249991,
 253072,
 253231,
 253633,
 254147,
 254238,
 255763,
 256581,
 257457,
 259644,
 262146,
 262731,
 263223,
 263303,
 265536,
 266014,
 273326,
 273762,
 273804,
 274283,
 274913,
 275009,
 278670,
 285029,
 287028,
 287479,
 289945,
 290161,
 292344,
 294647,
 296390,
 299747,
 299781,
 300965,
 303071,
 306548,
 309058,
 310353,
 310925,
 310975,
 311432,
 312334,
 312453,
 313361,
 314959,
 316306,
 316336,
 316902,
 319901,
 320018,
 320200,
 324013,
 324273,
 325297,
 329089,
 329277,
 329928,
 330252,
 330845,
 332443,
 332907,
 333741,
 334749,
 335148,
 336215,
 337635,
 339705,
 341653,
 1107992,
 1150736,
 1237057,
 1306267,
 1366732,
 1594469,
 1744454,
 1797009,
 1950799,
 2924299,
 3363402,
 3364366,
 3554964,
 3573621,
 3754758,
 3820580,
 3902206,
 4063882,
 4086310,
 4845925,
 5018876,
 5069783,
 5119501,
 5415932,
 5487470,
 5672712,
 5758088,
 5893451,
 6211293,
 6556610,
 6729351,
 6849093,
 6852797,
 7122521,
 7154279,
 7289488,
 7390884,
 7412510,
 7544056,
 7602456,
 7603574,
 7713926,
 7827268,
 7925528,
 7930383,
 7956824,
 8186606,
 8304144,
 8366012,
 8466724,
 8614569,
 8848545,
 8917917,
 9079753,
 9215549,
 9492350,
 9727233,
 9978123,
 10331074,
 10693628,
 10716233,
 10777360,
 10905347,
 11073587,
 11126708,
 11180223,
 11363235,
 11414533,
 11417363,
 11435711,
 11664992,
 11701619,
 11852734,
 12194971,
 12535321,
 12561201,
 12594737,
 12622238,
 12934388,
 13010366,
 13067683,
 13160209,
 13218347,
 13424867,
 13465284,
 13541163,
 13887637,
 14029639,
 14329136,
 14473678,
 14520707,
 14536106,
 14721928,
 15071717,
 15232338,
 15350467,
 15406344,
 15428492,
 15588716,
 15650617,
 15702122,
 15704679,
 15758096,
 16203250,
 16591957,
 16660550,
 16676333,
 16755032,
 17161206,
 17294020,
 17340877,
 17694609,
 17723103,
 17850620,
 17888918,
 18110877,
 18269270,
 18385881,
 18393584,
 18394375,
 18485159,
 18997700,
 19153333,
 19215948,
 19276213,
 19347158,
 19504018,
 19692844,
 19734519,
 19766291,
 20113352,
 20114810,
 20135303,
 20148786,
 20767388,
 20874167,
 21069505,
 21143135,
 21425008,
 21529571,
 21701677,
 21781817,
 21870265,
 22283858,
 22393703,
 22430985,
 23070490,
 23282203,
 23602620,
 24151288,
 24171671,
 24415853,
 24540253,
 24545311,
 25110491,
 25176849,
 25403895,
 25571966,
 25736324,
 25811645,
 26677569,
 26794348,
 26809513,
 27255498,
 27723073,
 27753416,
 27813710,
 28208607,
 28210173,
 28305390,
 28735008,
 29102571,
 29115554,
 29227269,
 29422697,
 29559631,
 29629882,
 30101939,
 30148172,
 30201771,
 30431518,
 30534719,
 30670672,
 30906546,
 30948935,
 31001297,
 31231705,
 31677779,
 31725628,
 31818648,
 31971611,
 32010245,
 32034643,
 32037298,
 32141863,
 32403528,
 32678830,
 33266451,
 33476053,
 34215867,
 34226707,
 34256026,
 34260744,
 34276621,
 34344225,
 34431594,
 34544723,
 34690063,
 34819740,
 34875805,
 35253243,
 35319631,
 35593703,
 35730106,
 35898790,
 35935438,
 35947297,
 37170843,
 37208382,
 37351723,
 37799576,
 37872285,
 38249774,
 38634386,
 38832257,
 38965969,
 39171778,
 39195118,
 39708342,
 39718493,
 40060993,
 40307988,
 40615474,
 40690037,
 40717486,
 40891717,
 41021565,
 41054019,
 41254761,
 41337833,
 41356823,
 41505033,
 41673236,
 42485979,
 42489951,
 42566591,
 42705243,
 42802824,
 42837744,
 43364329,
 43776050,
 43933894,
 44338573,
 44494697,
 44750799,
 45069691,
 45228742,
 45291361,
 45563969,
 46052783,
 46198875,
 46967013,
 47180424,
 47363805,
 47686647,
 47791642,
 48074116,
 48458925,
 48572207,
 48586579,
 48613320,
 48704566,
 48877458,
 49789340,
 50445945,
 50935885,
 51053939,
 51255215,
 51352791,
 51411523,
 51452175,
 51493116,
 51680420,
 51897185,
 52020603,
 52405439,
 52740863,
 52831518,
 53345639,
 53621646,
 53627887,
 53641640,
 54013347,
 54098685,
 54338231,
 54397851,
 54474539,
 54475110,
 54714301,
 54868343,
 55111045,
 55724631,
 55921392,
 55982140,
 56002762,
 56204125,
 56479755,
 56581526,
 56593559,
 56927863,
 57013110,
 57043307,
 57686715,
 57839024,
 57927713,
 58049237,
 58070066,
 58096682,
 58162450,
 58173673,
 58242751,
 58244212,
 58292877,
 58527015,
 58819647,
 59048477,
 59361580,
 59457237,
 59498091,
 59517412,
 59907038,
 60022063,
 60082937,
 60236596,
 60754510,
 60769248,
 60868379,
 60894865,
 60940369,
 60946236,
 61044710,
 61069263,
 61086594,
 61226666,
 61381457,
 61517181,
 61676194,
 61700731,
 61803685,
 61843700,
 62077340,
 62202304,
 62324231,
 62522829,
 62797090,
 62799017,
 62987535,
 63051618,
 63142088,
 63287280,
 63291592,
 63640268,
 63675288,
 63677512,
 63710100,
 63722367,
 63753371,
 63799162,
 63998866,
 64359093,
 64379782,
 64584558,
 64674300,
 64777436,
 65031744,
 65114256,
 65230573,
 65381947,
 65415763,
 65525730,
 66051352,
 66249054,
 66385558,
 66400014,
 66716030,
 66874784,
 67240327,
 67241270,
 67406546,
 67507321,
 67916316,
 67962052,
 67962803,
 68068114,
 68143849,
 68210498,
 68345593,
 68550949,
 68670128,
 69192758,
 69370664,
 69598526,
 69659448,
 69772173,
 70576635,
 70987540,
 71098197,
 71132525,
 71171595,
 71503431,
 71521763,
 71816360,
 72009300,
 72040403,
 72147416,
 72283619,
 72587600,
 72639559,
 72733015,
 72810857,
 72865069,
 73289331,
 73342276,
 73501891,
 73557446,
 73693128,
 73780016,
 73946376,
 74152447,
 74271799,
 74516485,
 74733910,
 74831033,
 74971609,
 74987849,
 75030174,
 75526848,
 75585131,
 76265178,
 76634959,
 76664136,
 76835018,
 77033938,
 77128442,
 77168729,
 77406029,
 77632410,
 77639825,
 77725459,
 77746327,
 77806327,
 77823479,
 77909764,
 78466781,
 78811302,
 79044967,
 79307105,
 79321815,
 79324471,
 79400744,
 79641012,
 79737563,
 79853648,
 79906724,
 79909698,
 80128373,
 80186364,
 80215603,
 80804933,
 80944906,
 81006845,
 81042522,
 81253442,
 81597243,
 81686568,
 81751213,
 82157690,
 82160413,
 82517427,
 82543181,
 83016336,
 83423091,
 83654139,
 83704874,
 84438807,
 84784715,
 84961927,
 85047008,
 85201260,
 85494986,
 85568314,
 85722351,
 85732072,
 85849604,
 85878056,
 86006342,
 86068216,
 86237249,
 86258843,
 86316940,
 86483559,
 86931952,
 86980896,
 87083570,
 87193746,
 87248837,
 87771300,
 88199476,
 88335228,
 88372093,
 88378172,
 88381732,
 88443230,
 88492912,
 88578296,
 88730230,
 88875467,
 88990907,
 89023208,
 89278328,
 89612326,
 89613764,
 89853309,
 89996660,
 90193248,
 90663647,
 90857932,
 91252100,
 91759166,
 92115051,
 92330883,
 92332602,
 92829168,
 93682013,
 93686217,
 93756669,
 93923383,
 93971222,
 94021808,
 94374358,
 94419268,
 94514485,
 94621519,
 94661251,
 94676718,
 94730957,
 95110246,
 95326729,
 95373927,
 95600283,
 95735933,
 95810605,
 97100885,
 97128504,
 97293261,
 97538098,
 97759814,
 97895407,
 97998269,
 98261512,
 98299516,
 98357025,
 98448729,
 99114952,
 99715839,
 99755210,
 99761129,
 99801307,
 99863752,
 99886885,
 100426880,
 100588254,
 100890774,
 101125840,
 101310071,
 101595704,
 102096317,
 102315326,
 102350999,
 102479413,
 102496947,
 102667737,
 102864430,
 102924312,
 102971259,
 102994328,
 103569045,
 103740550,
 103770531,
 103978798,
 104167066,
 104321005,
 104344364,
 104767924,
 105164118,
 105343648,
 105344515,
 105439868,
 105564120,
 105636094,
 105869076,
 106073135,
 107668196,
 107836210,
 107905568,
 108659894,
 108749436,
 108980608,
 109026809,
 109452173,
 109524431,
 109863612,
 110134728,
 110245068,
 110448747,
 110548280,
 110750341,
 110769373,
 111171589,
 111481946,
 111518007,
 111601371,
 111941650,
 112273036,
 112697046,
 112725115,
 112748248,
 112774923,
 112835319,
 112891886,
 113402917,
 113497426,
 113611054,
 113822339,
 113976590,
 114691793,
 114975586,
 115839540,
 116181773,
 116183683,
 116345919,
 116880255,
 116977094,
 117070180,
 117425583,
 117500992,
 117519065,
 117590012,
 117791422,
 118389486,
 118606724,
 119069736,
 119264179,
 119327898,
 119959793,
 119966874,
 120016736,
 120621144,
 120717385,
 120797603,
 121132132,
 121456044,
 121536728,
 121656493,
 121819741,
 122093078,
 122406441,
 122452449,
 122904999,
 123330458,
 123350976,
 123353974,
 123394632,
 123413743,
 123753173,
 123811670,
 123996080,
 124100352,
 124280399,
 124402447,
 124601147,
 124608388,
 124964631,
 124998548,
 125234535,
 125545259,
 125692363,
 125696158,
 126091280,
 126215080,
 126386017,
 126547131,
 126576484,
 126745808,
 126780686,
 126927279,
 127087063,
 127100219,
 127189138,
 127227730,
 127296295,
 127634363,
 127727509,
 128735416,
 128926736,
 129237530,
 129259953,
 129546183,
 129554871,
 130231675,
 130319749,
 130552230]

In [77]:
len(object_ids)

954

In [78]:
import numpy as np

num_total = len(object_ids) + 200

if num_total <= len(object_ids):
    augmented_ids = object_ids[:num_total]
else:
    # Calculate how many times to repeat the original IDs
    num_repeats = num_total // len(object_ids)
    remainder = num_total % len(object_ids)
    
    # Repeat the list and add the remaining IDs
    augmented_ids = np.tile(object_ids, num_repeats).tolist()
    augmented_ids += object_ids[:remainder]
augmented_ids

[1632,
 2103,
 2300,
 3285,
 4132,
 4220,
 5527,
 7033,
 10798,
 11359,
 25783,
 29252,
 29668,
 31824,
 32309,
 33191,
 34166,
 35197,
 35743,
 36085,
 38205,
 40290,
 41738,
 42224,
 43028,
 45319,
 45549,
 48260,
 48473,
 52425,
 54416,
 55033,
 55060,
 58174,
 59068,
 59463,
 63860,
 64896,
 66126,
 66852,
 67245,
 67898,
 68835,
 69490,
 70135,
 70430,
 71084,
 73509,
 75598,
 77623,
 77825,
 79155,
 79921,
 80780,
 81000,
 81464,
 86456,
 93509,
 95690,
 96284,
 98570,
 99050,
 99862,
 100097,
 100331,
 102036,
 102864,
 103026,
 103967,
 104526,
 107615,
 108487,
 109860,
 110241,
 111281,
 111799,
 113206,
 114341,
 115053,
 119383,
 120356,
 121224,
 121266,
 121705,
 125743,
 127056,
 128488,
 129490,
 130220,
 130404,
 131075,
 135097,
 136407,
 137645,
 138010,
 138068,
 138947,
 141302,
 142866,
 142867,
 143066,
 145926,
 148535,
 149478,
 150561,
 150880,
 151427,
 152300,
 154053,
 155778,
 157120,
 157299,
 158515,
 162139,
 163208,
 165821,
 166186,
 167310,
 170135,
 172861,
 177297,
 177808,
 178529,
 179813,
 180090,
 180288,
 181956,
 183842,
 184530,
 184736,
 187545,
 190784,
 191667,
 193431,
 194500,
 197776,
 198434,
 199801,
 200061,
 201776,
 202856,
 203758,
 203802,
 206162,
 207283,
 207496,
 208610,
 211202,
 211382,
 212064,
 213161,
 215370,
 217593,
 219820,
 222108,
 224100,
 225773,
 225829,
 228629,
 230248,
 230922,
 232276,
 232628,
 233042,
 236095,
 236222,
 237600,
 238195,
 238279,
 240336,
 243928,
 247729,
 247781,
 248938,
 249991,
 253072,
 253231,
 253633,
 254147,
 254238,
 255763,
 256581,
 257457,
 259644,
 262146,
 262731,
 263223,
 263303,
 265536,
 266014,
 273326,
 273762,
 273804,
 274283,
 274913,
 275009,
 278670,
 285029,
 287028,
 287479,
 289945,
 290161,
 292344,
 294647,
 296390,
 299747,
 299781,
 300965,
 303071,
 306548,
 309058,
 310353,
 310925,
 310975,
 311432,
 312334,
 312453,
 313361,
 314959,
 316306,
 316336,
 316902,
 319901,
 320018,
 320200,
 324013,
 324273,
 325297,
 329089,
 329277,
 329928,
 330252,
 330845,
 332443,
 332907,
 333741,
 334749,
 335148,
 336215,
 337635,
 339705,
 341653,
 1107992,
 1150736,
 1237057,
 1306267,
 1366732,
 1594469,
 1744454,
 1797009,
 1950799,
 2924299,
 3363402,
 3364366,
 3554964,
 3573621,
 3754758,
 3820580,
 3902206,
 4063882,
 4086310,
 4845925,
 5018876,
 5069783,
 5119501,
 5415932,
 5487470,
 5672712,
 5758088,
 5893451,
 6211293,
 6556610,
 6729351,
 6849093,
 6852797,
 7122521,
 7154279,
 7289488,
 7390884,
 7412510,
 7544056,
 7602456,
 7603574,
 7713926,
 7827268,
 7925528,
 7930383,
 7956824,
 8186606,
 8304144,
 8366012,
 8466724,
 8614569,
 8848545,
 8917917,
 9079753,
 9215549,
 9492350,
 9727233,
 9978123,
 10331074,
 10693628,
 10716233,
 10777360,
 10905347,
 11073587,
 11126708,
 11180223,
 11363235,
 11414533,
 11417363,
 11435711,
 11664992,
 11701619,
 11852734,
 12194971,
 12535321,
 12561201,
 12594737,
 12622238,
 12934388,
 13010366,
 13067683,
 13160209,
 13218347,
 13424867,
 13465284,
 13541163,
 13887637,
 14029639,
 14329136,
 14473678,
 14520707,
 14536106,
 14721928,
 15071717,
 15232338,
 15350467,
 15406344,
 15428492,
 15588716,
 15650617,
 15702122,
 15704679,
 15758096,
 16203250,
 16591957,
 16660550,
 16676333,
 16755032,
 17161206,
 17294020,
 17340877,
 17694609,
 17723103,
 17850620,
 17888918,
 18110877,
 18269270,
 18385881,
 18393584,
 18394375,
 18485159,
 18997700,
 19153333,
 19215948,
 19276213,
 19347158,
 19504018,
 19692844,
 19734519,
 19766291,
 20113352,
 20114810,
 20135303,
 20148786,
 20767388,
 20874167,
 21069505,
 21143135,
 21425008,
 21529571,
 21701677,
 21781817,
 21870265,
 22283858,
 22393703,
 22430985,
 23070490,
 23282203,
 23602620,
 24151288,
 24171671,
 24415853,
 24540253,
 24545311,
 25110491,
 25176849,
 25403895,
 25571966,
 25736324,
 25811645,
 26677569,
 26794348,
 26809513,
 27255498,
 27723073,
 27753416,
 27813710,
 28208607,
 28210173,
 28305390,
 28735008,
 29102571,
 29115554,
 29227269,
 29422697,
 29559631,
 29629882,
 30101939,
 30148172,
 30201771,
 30431518,
 30534719,
 30670672,
 30906546,
 30948935,
 31001297,
 31231705,
 31677779,
 31725628,
 31818648,
 31971611,
 32010245,
 32034643,
 32037298,
 32141863,
 32403528,
 32678830,
 33266451,
 33476053,
 34215867,
 34226707,
 34256026,
 34260744,
 34276621,
 34344225,
 34431594,
 34544723,
 34690063,
 34819740,
 34875805,
 35253243,
 35319631,
 35593703,
 35730106,
 35898790,
 35935438,
 35947297,
 37170843,
 37208382,
 37351723,
 37799576,
 37872285,
 38249774,
 38634386,
 38832257,
 38965969,
 39171778,
 39195118,
 39708342,
 39718493,
 40060993,
 40307988,
 40615474,
 40690037,
 40717486,
 40891717,
 41021565,
 41054019,
 41254761,
 41337833,
 41356823,
 41505033,
 41673236,
 42485979,
 42489951,
 42566591,
 42705243,
 42802824,
 42837744,
 43364329,
 43776050,
 43933894,
 44338573,
 44494697,
 44750799,
 45069691,
 45228742,
 45291361,
 45563969,
 46052783,
 46198875,
 46967013,
 47180424,
 47363805,
 47686647,
 47791642,
 48074116,
 48458925,
 48572207,
 48586579,
 48613320,
 48704566,
 48877458,
 49789340,
 50445945,
 50935885,
 51053939,
 51255215,
 51352791,
 51411523,
 51452175,
 51493116,
 51680420,
 51897185,
 52020603,
 52405439,
 52740863,
 52831518,
 53345639,
 53621646,
 53627887,
 53641640,
 54013347,
 54098685,
 54338231,
 54397851,
 54474539,
 54475110,
 54714301,
 54868343,
 55111045,
 55724631,
 55921392,
 55982140,
 56002762,
 56204125,
 56479755,
 56581526,
 56593559,
 56927863,
 57013110,
 57043307,
 57686715,
 57839024,
 57927713,
 58049237,
 58070066,
 58096682,
 58162450,
 58173673,
 58242751,
 58244212,
 58292877,
 58527015,
 58819647,
 59048477,
 59361580,
 59457237,
 59498091,
 59517412,
 59907038,
 60022063,
 60082937,
 60236596,
 60754510,
 60769248,
 60868379,
 60894865,
 60940369,
 60946236,
 61044710,
 61069263,
 61086594,
 61226666,
 61381457,
 61517181,
 61676194,
 61700731,
 61803685,
 61843700,
 62077340,
 62202304,
 62324231,
 62522829,
 62797090,
 62799017,
 62987535,
 63051618,
 63142088,
 63287280,
 63291592,
 63640268,
 63675288,
 63677512,
 63710100,
 63722367,
 63753371,
 63799162,
 63998866,
 64359093,
 64379782,
 64584558,
 64674300,
 64777436,
 65031744,
 65114256,
 65230573,
 65381947,
 65415763,
 65525730,
 66051352,
 66249054,
 66385558,
 66400014,
 66716030,
 66874784,
 67240327,
 67241270,
 67406546,
 67507321,
 67916316,
 67962052,
 67962803,
 68068114,
 68143849,
 68210498,
 68345593,
 68550949,
 68670128,
 69192758,
 69370664,
 69598526,
 69659448,
 69772173,
 70576635,
 70987540,
 71098197,
 71132525,
 71171595,
 71503431,
 71521763,
 71816360,
 72009300,
 72040403,
 72147416,
 72283619,
 72587600,
 72639559,
 72733015,
 72810857,
 72865069,
 73289331,
 73342276,
 73501891,
 73557446,
 73693128,
 73780016,
 73946376,
 74152447,
 74271799,
 74516485,
 74733910,
 74831033,
 74971609,
 74987849,
 75030174,
 75526848,
 75585131,
 76265178,
 76634959,
 76664136,
 76835018,
 77033938,
 77128442,
 77168729,
 77406029,
 77632410,
 77639825,
 77725459,
 77746327,
 77806327,
 77823479,
 77909764,
 78466781,
 78811302,
 79044967,
 79307105,
 79321815,
 79324471,
 79400744,
 79641012,
 79737563,
 79853648,
 79906724,
 79909698,
 80128373,
 80186364,
 80215603,
 80804933,
 80944906,
 81006845,
 81042522,
 81253442,
 81597243,
 81686568,
 81751213,
 82157690,
 82160413,
 82517427,
 82543181,
 83016336,
 83423091,
 83654139,
 83704874,
 84438807,
 84784715,
 84961927,
 85047008,
 85201260,
 85494986,
 85568314,
 85722351,
 85732072,
 85849604,
 85878056,
 86006342,
 86068216,
 86237249,
 86258843,
 86316940,
 86483559,
 86931952,
 86980896,
 87083570,
 87193746,
 87248837,
 87771300,
 88199476,
 88335228,
 88372093,
 88378172,
 88381732,
 88443230,
 88492912,
 88578296,
 88730230,
 88875467,
 88990907,
 89023208,
 89278328,
 89612326,
 89613764,
 89853309,
 89996660,
 90193248,
 90663647,
 90857932,
 91252100,
 91759166,
 92115051,
 92330883,
 92332602,
 92829168,
 93682013,
 93686217,
 93756669,
 93923383,
 93971222,
 94021808,
 94374358,
 94419268,
 94514485,
 94621519,
 94661251,
 94676718,
 94730957,
 95110246,
 95326729,
 95373927,
 95600283,
 95735933,
 95810605,
 97100885,
 97128504,
 97293261,
 97538098,
 97759814,
 97895407,
 97998269,
 98261512,
 98299516,
 98357025,
 98448729,
 99114952,
 99715839,
 99755210,
 99761129,
 99801307,
 99863752,
 99886885,
 100426880,
 100588254,
 100890774,
 101125840,
 101310071,
 101595704,
 102096317,
 102315326,
 102350999,
 102479413,
 102496947,
 102667737,
 102864430,
 102924312,
 102971259,
 102994328,
 103569045,
 103740550,
 103770531,
 103978798,
 104167066,
 104321005,
 104344364,
 104767924,
 105164118,
 105343648,
 105344515,
 105439868,
 105564120,
 105636094,
 105869076,
 106073135,
 107668196,
 107836210,
 107905568,
 108659894,
 108749436,
 108980608,
 109026809,
 109452173,
 109524431,
 109863612,
 110134728,
 110245068,
 110448747,
 110548280,
 110750341,
 110769373,
 111171589,
 111481946,
 111518007,
 111601371,
 111941650,
 112273036,
 112697046,
 112725115,
 112748248,
 112774923,
 112835319,
 112891886,
 113402917,
 113497426,
 113611054,
 113822339,
 113976590,
 114691793,
 114975586,
 115839540,
 116181773,
 116183683,
 116345919,
 116880255,
 116977094,
 117070180,
 117425583,
 117500992,
 117519065,
 117590012,
 117791422,
 118389486,
 118606724,
 119069736,
 119264179,
 119327898,
 119959793,
 119966874,
 120016736,
 120621144,
 120717385,
 120797603,
 121132132,
 121456044,
 121536728,
 121656493,
 121819741,
 122093078,
 122406441,
 122452449,
 122904999,
 123330458,
 123350976,
 123353974,
 123394632,
 123413743,
 123753173,
 123811670,
 123996080,
 124100352,
 124280399,
 124402447,
 124601147,
 124608388,
 124964631,
 124998548,
 125234535,
 125545259,
 125692363,
 125696158,
 126091280,
 126215080,
 126386017,
 126547131,
 126576484,
 126745808,
 126780686,
 126927279,
 127087063,
 127100219,
 127189138,
 127227730,
 127296295,
 127634363,
 127727509,
 128735416,
 128926736,
 129237530,
 129259953,
 129546183,
 129554871,
 130231675,
 130319749,
 130552230,
 1632,
 2103,
 2300,
 3285,
 4132,
 4220,
 5527,
 7033,
 10798,
 11359,
 25783,
 29252,
 29668,
 31824,
 32309,
 33191,
 34166,
 35197,
 35743,
 36085,
 38205,
 40290,
 41738,
 42224,
 43028,
 45319,
 45549,
 48260,
 48473,
 52425,
 54416,
 55033,
 55060,
 58174,
 59068,
 59463,
 63860,
 64896,
 66126,
 66852,
 67245,
 67898,
 68835,
 69490,
 70135,
 70430,
 ...]

In [79]:
len(augmented_ids)

1154

In [32]:
df_train_0.groupby('target').count()['object_id'].max()

1851

In [23]:
df_train_0.groupby('target').count()['object_id']

target
AGN               296
Eclip. Binary     740
Kilonova           82
M-dwarf           784
Mira               24
RR lyrae          191
SLSN-I            140
SNII              954
SNIa             1851
SNIa-91bg         166
SNIax             147
SNIbc             387
Single u-lens     120
TDE               396
Name: object_id, dtype: int64

In [71]:
num_aug_by_class = df_train_0.groupby('target').count()['object_id'].max() - \
    df_train_0.groupby('target').count()['object_id']
num_aug_by_class

target
AGN              1555
Eclip. Binary    1111
Kilonova         1769
M-dwarf          1067
Mira             1827
RR lyrae         1660
SLSN-I           1711
SNII              897
SNIa                0
SNIa-91bg        1685
SNIax            1704
SNIbc            1464
Single u-lens    1731
TDE              1455
Name: object_id, dtype: int64

In [72]:
num_aug_by_class.sum()

19636

In [62]:
df_lc = pd.read_csv(f'{path_data}/training_set.csv')
df_lc

         object_id         mjd  passband        flux   flux_err  detected
0              615  59750.4229         2 -544.810303   3.622952         1
1              615  59750.4306         1 -816.434326   5.553370         1
2              615  59750.4383         3 -471.385529   3.801213         1
3              615  59750.4450         4 -388.984985  11.395031         1
4              615  59752.4070         2 -681.858887   4.041204         1
...            ...         ...       ...         ...        ...       ...
1421700  130779836  60555.9838         4  -39.881969  46.477093         0
1421701  130779836  60560.0459         1   14.894439  18.947685         0
1421702  130779836  60571.0225         5   30.593130  50.695290         0
1421703  130779836  60585.9974         4  -23.471439  44.819859         0
1421704  130779836  60588.0372         0  -41.214264  51.665123         0

[1421705 rows x 6 columns]

In [ ]:
def gaussian_augmentation(obj_id, n_samples=5):
    df = df[df['object_id'] == obj_id]

    augmented_data = []
    for index, row in df.iterrows():
        samples = np.random.normal(loc=row['flux'], scale=row['flux_err'], size=n_samples)
        for i, sample in enumerate(samples, 1):  # Start enumeration at 1 for augmented sample ID
            augmented_data.append({
                'object_id': f"{int(row['object_id'])}_{i}",
                'mjd': row['mjd'],
                'flux': sample,
                'flux_err': row['flux_err'], # Unique ID including row index and sample number
            })
    return pd.DataFrame(augmented_data)


# Define the function to generate all augmented data for a single astronomical object
def augment_object(args):
    df, n_samples = args
    augmented_data = []
    for index, row in df.iterrows():
        samples = np.random.normal(loc=row['flux'], scale=row['flux_err'], size=n_samples)
        for i, sample in enumerate(samples, 1):  # Start enumeration at 1 for augmented sample ID
            augmented_data.append({
                'object_id': f"{int(row['object_id'])}_{i}",
                'mjd': row['mjd'],
                'flux': sample,
                'flux_err': row['flux_err']
            })
    return pd.DataFrame(augmented_data)

for label, num_aug in num_aug_by_class.items():
    print(f'We are augmentating the {label} class')
    object_ids = df_train_0[df_train_0.target == label].object_id.values
    args_list = [(df_lc[df_lc['object_id'] == obj_id], num_aug) for obj_id in object_ids]

    print(f'Multiprocessing started...')
    with Pool() as pool:
        results = pool.map(augment_object, args_list)

    df_augmented = pd.concat(results, ignore_index=True)

In [64]:
def gaussian_augmentation(df, n_samples=5):
    augmented_data = []
    for index, row in df.iterrows():
        samples = np.random.normal(loc=row['flux'], scale=row['flux_err'], size=n_samples)
        for i, sample in enumerate(samples, 1):  # Start enumeration at 1 for augmented sample ID
            augmented_data.append({
                'object_id': f"{int(row['object_id'])}_{i}",
                'mjd': row['mjd'],
                'flux': sample,
                'flux_err': row['flux_err'], # Unique ID including row index and sample number
            })
    return pd.DataFrame(augmented_data)

df_augmented = []
for label, num_aug in num_aug_by_class.items():
    print(f'We are augmentating the {label} class')
    ids_class = df_train_0[df_train_0.target == label].object_id.values
    df_lc_aux = df_lc[df_lc.object_id.isin(ids_class)]
    df_lc_aux = gaussian_augmentation(df_lc_aux, n_samples=5)
    df_augmented.append(df_lc_aux)

We are augmentating the AGN class
We are augmentating the Eclip. Binary class
We are augmentating the Kilonova class
We are augmentating the M-dwarf class
We are augmentating the Mira class
We are augmentating the RR lyrae class
We are augmentating the SLSN-I class
We are augmentating the SNII class
We are augmentating the SNIa class
We are augmentating the SNIa-91bg class
We are augmentating the SNIax class
We are augmentating the SNIbc class
We are augmentating the Single u-lens class
We are augmentating the TDE class

In [65]:
df_augmented = pd.concat(df_augmented, ignore_index=True)
df_augmented

           object_id         mjd       flux  flux_err
0              713_1  59825.2600   8.662634  1.013889
1              713_2  59825.2600   9.427334  1.013889
2              713_3  59825.2600  10.725931  1.013889
3              713_4  59825.2600  10.826805  1.013889
4              713_5  59825.2600   9.263082  1.013889
...              ...         ...        ...       ...
5685315  130695262_1  60670.0746  -0.214617  2.026918
5685316  130695262_2  60670.0746   3.344613  2.026918
5685317  130695262_3  60670.0746   2.263977  2.026918
5685318  130695262_4  60670.0746  -0.442906  2.026918
5685319  130695262_5  60670.0746  -2.327011  2.026918

[5685320 rows x 4 columns]

In [66]:
df_augmented[df_augmented.object_id == '713_1']

     object_id         mjd       flux  flux_err
0        713_1  59825.2600   8.662634  1.013889
5        713_1  59825.2676   7.387935  1.160329
10       713_1  59825.2752   7.302603  1.932316
15       713_1  59825.2862  -1.321149  3.018003
20       713_1  59825.2971  14.658229  7.163382
...        ...         ...        ...       ...
1725     713_1  60668.1165 -14.049676  5.354884
1730     713_1  60671.0655 -10.058612  1.726118
1735     713_1  60672.0693 -13.620286  1.470152
1740     713_1  60673.0745 -11.901718  2.243120
1745     713_1  60674.0798 -11.740175  2.216094

[350 rows x 4 columns]

In [ ]:
# Applying the Gaussian augmentation
#df_augmented = gaussian_augmentation(df_lc, n_samples=5)
#df_augmented

## Other Augmentations

In [12]:
import numpy as np

# Adding Noise: Introduce random Gaussian noise to the flux values. This can help the model become more robust to small fluctuations in the data.
def add_noise(df, noise_level=0.01):
    noise = np.random.normal(0, noise_level, size=df['flux'].shape)
    df['flux_aug'] = df['flux'] + noise * df['flux_err']
    return df

# Scaling: Multiply the flux values by a constant factor to simulate different brightness levels.
def scale_flux(df, scale_factor=1.1):
    df['flux_aug'] = df['flux'] * scale_factor
    return df

# Random Cropping: This involves selecting a random subsection of the time series. This is useful for models to learn from different parts of the light curve.
def random_crop(df, crop_size=50):
    start = np.random.randint(0, len(df) - crop_size)
    return df.iloc[start:start + crop_size]

# Time Warping: Apply a slight stretching or compression to the time axis, which can simulate the effect of different observational cadences.
def time_warp(df, warp_factor=0.9):
    time_steps = np.diff(df['mjd']) * warp_factor
    df['mjd_aug'] = np.concatenate([[df['mjd'].iloc[0]], df['mjd'].iloc[0] + np.cumsum(time_steps)])
    return df

# Jittering: Randomly adjust the flux values within the uncertainty given by flux_err.
def jitter_flux(df):
    jitter = np.random.uniform(-1, 1, size=df.shape[0]) * df['flux_err']
    df['flux_aug'] = df['flux'] + jitter
    return df

# Inverting: Flip the flux values around the median flux, which can simulate viewing the light curve from different angles or opposite phases.
def invert_flux(df):
    median_flux = df['flux'].median()
    df['flux_aug'] = 2 * median_flux - df['flux']
    return df

In [13]:
# Apply augmentation
df_augmented = add_noise(df_lc)
df_augmented

,object_id,mjd,passband,flux,flux_err,detected,flux_aug
0,615,59750.4229,2,-544.810303,3.622952,1,-544.778625
1,615,59750.4306,1,-816.434326,5.553370,1,-816.476936
2,615,59750.4383,3,-471.385529,3.801213,1,-471.391557
3,615,59750.4450,4,-388.984985,11.395031,1,-389.006063
4,615,59752.4070,2,-681.858887,4.041204,1,-681.862797
...,...,...,...,...,...,...,...
1421700,130779836,60555.9838,4,-39.881969,46.477093,0,-39.725409
1421701,130779836,60560.0459,1,14.894439,18.947685,0,14.687932
1421702,130779836,60571.0225,5,30.593130,50.695290,0,30.889442
1421703,130779836,60585.9974,4,-23.471439,44.819859,0,-24.107361
1421704,130779836,60588.0372,0,-41.214264,51.665123,0,-39.970721