In [1]:
%cd ../

/home/users/dmoreno2016/VisionTransformers

In [2]:
import sqlite3
import pandas as pd

db_path = "trials_hyperparam_final.db"
connection = sqlite3.connect(db_path)
cursor = connection.cursor()

# Ejemplo: Listar las tablas en la base de datos
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()
tables

[('studies',),
 ('version_info',),
 ('study_directions',),
 ('study_user_attributes',),
 ('study_system_attributes',),
 ('trials',),
 ('trial_user_attributes',),
 ('trial_system_attributes',),
 ('trial_params',),
 ('trial_values',),
 ('trial_intermediate_values',),
 ('trial_heartbeats',),
 ('alembic_version',)]

In [3]:
#cursor.execute("UPDATE trials SET state = 'FAIL' WHERE trial_id = 4;")

In [7]:
# Seleccionar los primeros 10 registros de la tabla 'trials'
df = pd.read_sql_query("SELECT * FROM trials;", connection)
df

,trial_id,number,study_id,state,datetime_start,datetime_complete
0,1,0,1,COMPLETE,2024-10-12 13:47:56.981310,2024-10-12 13:54:03.644796
1,2,1,1,FAIL,2024-10-12 13:54:03.682261,2024-10-12 13:57:56.975493
2,3,2,1,COMPLETE,2024-10-12 14:03:34.743191,2024-10-12 14:08:41.661980
3,4,3,1,COMPLETE,2024-10-12 14:08:41.699453,2024-10-12 14:13:12.572186
4,5,4,1,COMPLETE,2024-10-12 14:13:12.603533,2024-10-12 14:16:43.754854
5,6,5,1,COMPLETE,2024-10-12 14:16:43.783675,2024-10-12 14:22:25.709976
6,7,6,1,PRUNED,2024-10-12 14:22:25.735904,2024-10-12 14:27:49.615694
7,8,7,1,RUNNING,2024-10-12 14:27:49.636790,None
8,9,8,1,COMPLETE,2024-10-12 17:31:08.077339,2024-10-12 17:37:15.831913
9,10,9,1,PRUNED,2024-10-12 17:37:15.859390,2024-10-12 17:42:06.839538
10,11,10,1,COMPLETE,2024-10-12 17:42:06.860554,2024-10-12 17:49:59.850503
11,12,11,1,FAIL,2024-10-12 17:49:59.874961,2024-10-12 17:56:10.762782

In [13]:
params = pd.read_sql_query("SELECT * FROM trial_params;", connection)
params

,param_id,trial_id,param_name,param_value,distribution_json
0,1,1,training.lr,0.0,"{""name"": ""CategoricalDistribution"", ""attribute..."
1,2,1,fig_params.figsize,0.0,"{""name"": ""CategoricalDistribution"", ""attribute..."
2,3,1,fig_params.markersize,1.0,"{""name"": ""CategoricalDistribution"", ""attribute..."
3,4,1,fig_params.linewidth,1.0,"{""name"": ""CategoricalDistribution"", ""attribute..."
4,5,1,fig_params.ylim,0.0,"{""name"": ""CategoricalDistribution"", ""attribute..."
5,6,2,training.lr,0.0,"{""name"": ""CategoricalDistribution"", ""attribute..."
6,7,2,fig_params.figsize,0.0,"{""name"": ""CategoricalDistribution"", ""attribute..."
7,8,2,fig_params.markersize,0.0,"{""name"": ""CategoricalDistribution"", ""attribute..."
8,9,2,fig_params.linewidth,0.0,"{""name"": ""CategoricalDistribution"", ""attribute..."
9,10,2,fig_params.ylim,0.0,"{""name"": ""CategoricalDistribution"", ""attribute..."
10,11,3,training.lr,0.0,"{""name"": ""CategoricalDistribution"", ""attribute..."
11,12,3,fig_params.figsize,0.0,"{""name"": ""CategoricalDistribution"", ""attribute..."
12,13,3,fig_params.markersize,0.0,"{""name"": ""CategoricalDistribution"", ""attribute..."
13,14,3,fig_params.linewidth,2.0,"{""name"": ""CategoricalDistribution"", ""attribute..."
14,15,3,fig_params.ylim,0.0,"{""name"": ""CategoricalDistribution"", ""attribute..."
15,16,4,training.lr,0.0,"{""name"": ""CategoricalDistribution"", ""attribute..."
16,17,4,fig_params.figsize,0.0,"{""name"": ""CategoricalDistribution"", ""attribute..."
17,18,4,fig_params.markersize,1.0,"{""name"": ""CategoricalDistribution"", ""attribute..."
18,19,4,fig_params.linewidth,2.0,"{""name"": ""CategoricalDistribution"", ""attribute..."
19,20,4,fig_params.ylim,0.0,"{""name"": ""CategoricalDistribution"", ""attribute..."
20,21,5,training.lr,0.0,"{""name"": ""CategoricalDistribution"", ""attribute..."
21,22,5,fig_params.figsize,0.0,"{""name"": ""CategoricalDistribution"", ""attribute..."

In [14]:
for i in range(len(params.distribution_json)):
    print(params.distribution_json.iloc[i])

{"name": "CategoricalDistribution", "attributes": {"choices": [5e-05, 5e-06]}}
{"name": "CategoricalDistribution", "attributes": {"choices": [[2.56, 2.56]]}}
{"name": "CategoricalDistribution", "attributes": {"choices": [1.0, 2.0, 3.0, 4.0, 5.0]}}
{"name": "CategoricalDistribution", "attributes": {"choices": [0.5, 1.0, 1.5, 2.0]}}
{"name": "CategoricalDistribution", "attributes": {"choices": [[-0.05, 1.05]]}}
{"name": "CategoricalDistribution", "attributes": {"choices": [5e-05, 5e-06]}}
{"name": "CategoricalDistribution", "attributes": {"choices": [[2.56, 2.56]]}}
{"name": "CategoricalDistribution", "attributes": {"choices": [1.0, 2.0, 3.0, 4.0, 5.0]}}
{"name": "CategoricalDistribution", "attributes": {"choices": [0.5, 1.0, 1.5, 2.0]}}
{"name": "CategoricalDistribution", "attributes": {"choices": [[-0.05, 1.05]]}}
{"name": "CategoricalDistribution", "attributes": {"choices": [5e-05, 5e-06]}}
{"name": "CategoricalDistribution", "attributes": {"choices": [[2.56, 2.56]]}}
{"name": "CategoricalDistribution", "attributes": {"choices": [1.0, 2.0, 3.0, 4.0, 5.0]}}
{"name": "CategoricalDistribution", "attributes": {"choices": [0.5, 1.0, 1.5, 2.0]}}
{"name": "CategoricalDistribution", "attributes": {"choices": [[-0.05, 1.05]]}}
{"name": "CategoricalDistribution", "attributes": {"choices": [5e-05, 5e-06]}}
{"name": "CategoricalDistribution", "attributes": {"choices": [[2.56, 2.56]]}}
{"name": "CategoricalDistribution", "attributes": {"choices": [1.0, 2.0, 3.0, 4.0, 5.0]}}
{"name": "CategoricalDistribution", "attributes": {"choices": [0.5, 1.0, 1.5, 2.0]}}
{"name": "CategoricalDistribution", "attributes": {"choices": [[-0.05, 1.05]]}}
{"name": "CategoricalDistribution", "attributes": {"choices": [5e-05, 5e-06]}}
{"name": "CategoricalDistribution", "attributes": {"choices": [[2.56, 2.56]]}}

In [21]:
connection.close()